<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title data-lang="true">SSL Secure Cart View</title>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="ROBOTS" content="NOINDEX, FOLLOW" />

    <!-- BEGIN TRACKJS -->
    <script type="text/javascript">window._trackJs = { token: 'a32e563fb84543f88c831dd9d04625bd', console: { display: false, warn:false } };</script>
    <script type="text/javascript" src="https://cdn.trackjs.com/releases/current/tracker.js"></script>
    <script type="text/javascript">
        trackJs.configure({
            sessionId: "ckiga5wbr242bct0jvdqwusn",
            userId: "82608b98-47cc-4def-beb8-93412eb4e096-567833"
        })

        trackJs.addMetadata("shopkeeper", "567833");
        trackJs.addMetadata("host ip", "217.66.157.88");
        trackJs.addMetadata("instanceId", "i-0852709fefe051b73");
    </script>
    <!-- END TRACKJS -->

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />


    <script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        //<![CDATA[
        (window.jQuery)||document.write('<script type="text/javascript" src="/javascripts/jquery-2.2.4.js"><\/script>');
        //]]>
    </script>

    <script src="//d11fdyfhxcs9cr.cloudfront.net/javascripts/sidebysidecheckout/cartfunctions.8d.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="//d11fdyfhxcs9cr.cloudfront.net/javascripts/sidebysidecheckout/cartview.1.css"/>
    <link rel="stylesheet" type="text/css" href="//d11fdyfhxcs9cr.cloudfront.net/javascripts/sidebysidecheckout/cartviewcolors.1.css"/>


    <link href="//fonts.googleapis.com/css?family=Mada:200,300,regular,500,600,700,900" rel="stylesheet" type="text/css" />



    <style>
        /* font */
        body, input, select, textarea { font-family:'Mada';}

        /* ========================== */
        /* ===== Primary Colors ===== */
        /* ========================== */
        a, #basket_coupon_toggle, .basket_coupon_alert, .store_name a:hover{
            color: #20b7e6;
        }
        #basket_coupon #btnCouponAdd, .coupon_remove, #basket_purchase_main, .basket_item_qty_error_tip{
            background-color: #20b7e6;
        }
        #basket_coupon #btnCouponAdd{
            border: 1px solid #20b7e6;
        }
        .basket_item_qty_error_tip::after{
            border-top: 10px solid #20b7e6;
        }
        #basket_coupon #btnCouponAdd, .coupon_remove, #basket_purchase_main, .basket_item_qty_error_tip{
            color: #FFF;
        }
    </style>
</head>
<body>

<form method="post" action="./SideBySideCartView.aspx?xid=ckiga5wbr242bct0jvdqwusn" id="form1">
    <div class="aspNetHidden">
        <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMjAzOTk5Njk3MGRkO8UPZLCxbomMe4i8R0CIGlC//EQ=" />
    </div>

    <div class="aspNetHidden">

        <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="86EFEF86" />
    </div>

    <header>
        <div class="header_container">
            <h1 class="store_name"><a id="hlStoreURL" href="https://edvanchi.fwscart.com">edvanchi</a></h1>
        </div>
    </header>

    <div id="basket_wrapper">
        <div id="basket_title" data-lang="true">Your Cart</div>


        <div id="basket_empty">
            <p><span data-lang="true" id="lblEmptyFeedback"></span> <a href="https://edvanchi.fwscart.com" data-lang="true" target="_top">Continue Shopping</a></p>
        </div>



        <div id="basket">
            <p><a href="https://edvanchi.fwscart.com" target="_top">&lt; <span data-lang="true">Continue Shopping</span></a></p>
            <div id="basket_content">
                <div id="basket_content_header">
                    <div id="basket_content_header_item" class="basket_content_header_item" data-lang="true">Item</div>
                    <div id="basket_content_header_price" class="basket_content_header_item" data-lang="true">Price</div>
                    <div id="basket_content_header_qty" class="basket_content_header_item" data-lang="true">QTY</div>
                    <div id="basket_content_header_total" class="basket_content_header_item" data-lang="true">Total</div>
                </div>



                <div class="basket_item" id="ci_640e248c-0f4a-456d-a2fb-87177ca1d0fb">
                    <div class="basket_item_image_name">
                        <a id="rptBasketItems_ctl00_hlImage" class="basket_image_container" href="https://edvanchi.fwscart.com/index.aspx?pageid=5830642&amp;prodid=19086124"><img id="rptBasketItems_ctl00_imgCartProduct" class="basket_image" src="//d13z1xw8270sfc.cloudfront.net/resize/567833/https%253a%252f%252fd11fdyfhxcs9cr.cloudfront.net%252fproduct_data%252f_Generic%252fSquare%252fhat.png/100/100/0/" /></a>
                        <div class="basket_item_name_container">
                            <a id="rptBasketItems_ctl00_hlProduct" href="https://edvanchi.fwscart.com/index.aspx?pageid=5830642&amp;prodid=19086124">Your Product Name</a>


                        </div>
                    </div>

                    <div class="basket_item_price"><span id="item_total_640e248c-0f4a-456d-a2fb-87177ca1d0fb">51,00 ₽</span></div>
                    <div class="basket_item_quantity">
                        <input name="rptBasketItems$ctl00$txtQty" type="number" id="rptBasketItems_ctl00_txtQty" min="0" value="1" class="cart_item_qty" oldvalue="1" data-cartid="640e248c-0f4a-456d-a2fb-87177ca1d0fb" />
                        <div class="basket_item_qty_error_tip" id="err_640e248c-0f4a-456d-a2fb-87177ca1d0fb"></div>
                    </div>
                    <div class="basket_item_subprice"><span data-lang="true">SubTotal</span> <span id="row_total_640e248c-0f4a-456d-a2fb-87177ca1d0fb">51,00 ₽</span></div>

                    <a id="rptBasketItems_ctl00_hlRemove" class="basket_item_remove" onclick="javascript:RemoveCartItem(&#39;640e248c-0f4a-456d-a2fb-87177ca1d0fb&#39;);" href="javascript:void(0);">
                        <span class="basket_item_remove_text" data-lang="true">Remove</span>
                    </a>
                </div>


            </div>
            <div id="basket_information">



                <div id="basket_subtotal"><span data-lang="true">Basket SubTotal</span><span id="totals_subtotal">51,00 ₽</span></div>

                <div id="basket_discount" style="display:none;"><em data-lang="true">Discount Total</em> <span id="totals_discount"></span></div>






            </div>

            <div id="basket_error">

            </div>

            <div id="basket_purchase">
                <div id="basket_disabled_message">Basket disabled - Not enough pennies</div>

                <a href="javascript:void(0);" id="basket_purchase_main" data-lang="true">Checkout</a>


                <div id="basket_express">
                    <a href="javascript:void(0);"><img src="https://www.paypalobjects.com/webstatic/en_AU/i/buttons/btn_paywith_primary_s.png" alt="PayPal Express" /></a>
                </div>


            </div>

            <div class="footer_information">
                <span>&copy;edvanchi <script>document.write(new Date().getFullYear())</script></span>
                <ul>
                    <li><a href="https://edvanchi.fwscart.com/index.aspx?pageid=5830640" target="_blank" data-lang="true">Terms</a></li>
                    <li><a href="https://edvanchi.fwscart.com/index.aspx?pageid=5830641" target="_blank" data-lang="true">Privacy</a></li>
                </ul>
                <img src="//d11fdyfhxcs9cr.cloudfront.net/checkouts/basketimages_v2/encrypted1.png" class="secure_image" />
            </div>

        </div>









        <div class="busy_wait_overlay"></div>
        <div class="busy_wait">
            <span data-lang="true">Updating Basket</span>
            <div class="cssload-thecube">
                <div class="cssload-cube cssload-c1"></div>
                <div class="cssload-cube cssload-c2"></div>
                <div class="cssload-cube cssload-c4"></div>
                <div class="cssload-cube cssload-c3"></div>
            </div>
        </div>





    </div>

    <script type="text/javascript">
        var shopkeeper = 567833;
        var cartId = 'ckiga5wbr242bct0jvdqwusn';
        var cartStatus = 1;
        var cartFeedback = "";
        var cartUrl = "https://edvanchi.fwscart.com/checkout/ckiga5wbr242bct0jvdqwusn";
    </script>



    <script>var arr_translate_tokens = [];</script>



</form>
</body>
</html>
