<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Add master reference to jQuery library -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>

    <!-- References to the basket scripts -->
    <script type="text/javascript" src="//d11fdyfhxcs9cr.cloudfront.net/javascripts/basketajax2.1.6.js"></script>
    <script type="text/javascript" src="//d11fdyfhxcs9cr.cloudfront.net/javascripts/accounting.min.js"></script>

    <!-- Simple Modal -->

    <script src="//d11fdyfhxcs9cr.cloudfront.net/javascripts/simplemodal/jquery.simplemodal.1.4.4.min.js"></script>


    <link href="//fonts.googleapis.com/css?family=Mada:200,300,regular,500,600,700,900" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/theme.css}" rel="stylesheet" type="text/css" />


    <META NAME="ROBOTS" CONTENT="INDEX,FOLLOW">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <TITLE>Home</TITLE>
    <META NAME="keywords" CONTENT="">
    <META NAME="description" CONTENT="">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />


    <meta property="og:image:secure_url" content="https://d11fdyfhxcs9cr.cloudfront.net/storethumbs/567833/567833_v0.jpg" />
    <meta property="og:image" content="http://d11fdyfhxcs9cr.cloudfront.net/storethumbs/567833/567833_v0.jpg" />
    <meta property="og:title" content="Home" />
    <meta property="og:url" content="https://edvanchi.fwscart.com"/>
    <meta property="og:site_name" content="edvanchi"/>
    <meta property="og:type" content="Website"/>



    <script type="text/javascript">
        var g_fws_url='https://edvanchi.fwscart.com/index.aspx?pageid=5830635';
        var g_fws_cart_url='/';
        var g_fws_ssl = 1;
        var g_fws_sk=567833;
        var sessionid= 'y5w4q5oquokuappzn1rucqvu';
    </script>
    <link rel="stylesheet" href="//dpjm3pce8n9lk.cloudfront.net/storebuilder/479858/design-2/567833-v1-store.css" type="text/css" id="design_css_master" />



    <script src="//static.fw1.biz/design_media/sb/479858/design-2/store.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/jquery.bez/1.0.11/jquery.bezx.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js">
    </script><link rel="stylesheet" href="//d11fdyfhxcs9cr.cloudfront.net/design_media/iconfonts/fontello/css/fontello.css" type="text/css" id="css_social_icons" />
</head>
<body>
<header class="header" id="header">
    <div class="header__top">
        <div class="nav--toggle-container is-hidden--desktop">
            <div class="navbar-burger burger nav--toggle">
                <span>1</span><span>3</span><span>4</span>

            </div>
        </div>
        <div class="logo">

            <a href="https://edvanchi.fwscart.com"><img src="https://d11fdyfhxcs9cr.cloudfront.net/design_media/sb/479858/design-2/themes/897/logo.png" border="0" id="logo-0" /></a>

        </div>

        <!---->
        <!-- Used to display the current basket contents. Typically total number of items or subtotal -->


        <a href="https://edvanchi.fwscart.com/cart/y5w4q5oquokuappzn1rucqvu">
            <i class="material-icons shopping-cart">
                shopping_cart
                <span class="cart__count" id="sp_basket_info_count-0">0</span>
            </i>
        </a>

        <!--<a href="https://edvanchi.fwscart.com/cart/y5w4q5oquokuappzn1rucqvu">-->
        <!--<i class="material-icons shopping-cart">-->
        <!--shopping_cart-->
        <!--<span class="cart__count" id="sp_basket_info_count-0">0</span>-->
        <!--</i>-->
        <!--</a>-->
    </div><div class="header__bottom">
    <ul class="menu menu--hidden"><li class="logo logo--fixed is-hidden"><h1><a href="https://edvanchi.fwscart.com"><img src="https://d11fdyfhxcs9cr.cloudfront.net/design_media/sb/479858/design-2/themes/897/logo.png" border="0" id="logo" /></a>
    </h1></li><div class="is-hidden--desktop">
        <form action="https://edvanchi.fwscart.com/index.aspx?pageid=5830643" method="get"><input name="pageid" id="pageid" type="hidden" value="5830643" /><input name="chainID" id="chainID" type="hidden" value="567833" /><!-- QuickSearch control - usually a textbox and a submit button -->

            <li class="search-container">
                <div class="field">
                    <div class="control search has-icons-left">
                        <input id="txtQuickSearch-0" name="txtQuickSearch" placeholder="Search" class="input input--fancy search__input is-hidden" type="text" value=""/>
                        <span class="icon is-left grid grid--center grid--justifycenter">
                  <i class="material-icons search__icon is-dark">search</i>
                </span>
                    </div>
                </div>
            </li></form>
    </div><!-- Optional Header -->
        <li class="quick-links-container">
            <ul class="quick-links text-right--desktop"><!-- Item template, one displayed for each navigation page in the list -->

                <li><a href="/home">Home</a></li><!-- Item template, one displayed for each navigation page in the list -->

                <li><a href="/about">About</a></li><!-- Item template, one displayed for each navigation page in the list -->

                <li><a href="https://edvanchi.fwscart.com/storepage5830637.aspx">Special Offers</a></li><!-- Item template, one displayed for each navigation page in the list -->

                <li><a href="https://edvanchi.fwscart.com/cart/y5w4q5oquokuappzn1rucqvu">Basket</a></li><!-- Item template, one displayed for each navigation page in the list -->

                <li><a href="https://edvanchi.fwscart.com/storepage5830639.aspx">Contact</a></li><!-- Optional Footer -->

            </ul>
        </li>
        <li class="categories-container text-right--desktop">
            <ul class="categories text-left--desktop">
                <!-- categories__single --><li class="categories__item">
                <div th:if="${userInfo != null}" th:utext="${userInfo}">
                </div>
            </li>
                <!-- categories__single -->
            </ul>
            <!-- categories text-left--desktop -->
        </li>
        <!-- categories-container text-right--desktop -->
        <div class="menu__controls">

            <div class="is-hidden--mobile">
                <form action="https://edvanchi.fwscart.com/index.aspx?pageid=5830643" method="get"><input name="pageid" id="pageid-0" type="hidden" value="5830643" /><input name="chainID" id="chainID-0" type="hidden" value="567833" /><!-- QuickSearch control - usually a textbox and a submit button -->

                    <li class="search-container">
                        <div class="field">
                            <div class="control search has-icons-left">
                                <input id="txtQuickSearch" name="txtQuickSearch" placeholder="Search" class="input input--fancy search__input is-hidden" type="text" value=""/>
                                <span class="icon is-left grid grid--center grid--justifycenter">
                  <i class="material-icons search__icon is-dark">search</i>
                </span>
                            </div>
                        </div>
                    </li></form>
            </div><li class="cart cart--fixed text-right"><!-- Used to display the current basket contents. Typically total number of items or subtotal -->

            <a href="https://edvanchi.fwscart.com/cart/y5w4q5oquokuappzn1rucqvu">
                <i class="material-icons shopping-cart">
                    shopping_cart
                    <span class="cart__count" id="sp_basket_info_count">0</span>
                </i>
            </a>
        </li>
        </div></ul>
</div></header>

    <div class="hero">
        <div class="slider-wrapper theme-default">
            <div id="slider" class="flexslider">
                <table>
                    <tr>
                        <th>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="hero__message">
    </div>





    <div class="featured grid grid--full med-grid--1of4 grid--gutters large-grid--guttersxl">
    <div th:each="it: ${items}">
        <div class="grid__cell" style="width: 20vw; height: 11.25vh">
            <a th:href="'/item?id=' + ${it.getId()}"  class="img-link">
                <img class="featured__item featured__img" th:src="${it.getImageURL()}" style="position: relative; width:auto; height:auto;"/>
                <div class="featured__details">
                    <h3 class="featured__title" th:utext="${it.getName()}"></h3>
                    <button onclick="location.href='https://edvanchi.fwscart.com/index.aspx?pageid=5830638&amp;action=add&amp;prodid=19086124&xid=y5w4q5oquokuappzn1rucqvu'" type="button" class="btn btn--action btn--wide">Details</button>
                </div>
            </a>
        </div>
    </div>
        <!-- Optional Footer Template -->
    </div>

<main>



    ><div class="footer-banner-container">




    </div></main>
<footer class="footer" id="footer"><div class="footer__top text-center">
    <div class="grid grid--full large-grid--1of3">

        <div class="grid__cell">
            <div class="support__links gutter">
                <a href="https://edvanchi.fwscart.com/storepage5830640.aspx">Terms</a><a href="https://edvanchi.fwscart.com/storepage5830641.aspx">Privacy</a><a href="https://edvanchi.fwscart.com/sitemap/">Sitemap</a>
            </div>
        </div><div class="grid__cell no-margin">

        <div class="social__links gutter">
            <a href="http://www.facebook.com/106407739472488" alt="edvanchi on Facebook" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a><a href="http://www.twitter.com/@freewebstore" alt="edvanchi on Twitter" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a><a href="freewebstore" alt="edvanchi on YouTube" target="_blank"><i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a>
            <a href="https://plus.google.com/115289505571382696158" class="" alt="edvanchi on Google+" target="_blank"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a><a href="http://pinterest.com/freewebstore" class="" alt="edvanchi on Pinterest" target="_blank"><i class="fa fa-pinterest fa-2x" aria-hidden="true"></i></a><a href="http://blog.freewebstore.com" class="" alt="edvanchi on Wordpress.com" target="_blank"><i class="fa fa-wordpress fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
    </div>
</div>

</footer>
<div class="md-modal" id="modal-feedback" style="display:none;"> <div class="md-content"> <h3 id="md-title">Modal Dialog Title</h3> <div> <div id="md-content">Modal Dialog Content</div> 	<button class="md-cancel">Cancel</button> 	<button class="md-ok">Ok</button> </div> </div> </div>
<script type="text/javascript">
    (function() {
        var fwsa = document.createElement('script');
        fwsa.type = 'text/javascript';
        fwsa.async = true;
        fwsa.src = '//stats.fw1.biz/rh?s=567833&m=&pid=0&cid=0&prodid=0&r=https%3a%2f%2fwebparse.ru%2fwebparse';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fwsa, s);
    })();</script></body></html>